backend/.env
backend/.env/*
backend/.venv
backend/.venv/*
backend/__pycache__
backend/chroma_db
backend/chroma_db/*
.vscode
__pycache__
node_modules
frontend/node_modules
frontend/.next
.DS_Store

.claude/
.bt/